<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string></string>
		<key>imageKey</key>
		<string>logo.gif</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Donna</string>
		<key>imageKey</key>
		<string>donna.jpeg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Atenea</string>
		<key>imageKey</key>
		<string>atenea.jpeg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Max Club</string>
		<key>imageKey</key>
		<string>maxClub.jpeg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Trend</string>
		<key>imageKey</key>
		<string>trend.jpeg</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Uomo</string>
		<key>imageKey</key>
		<string>uomo.jpeg</string>
	</dict>
</array>
</plist>
